@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root{
    --font: 'Nunito Sans', sans-serif;
    --primary-color: black;
    --white: white;
}


body {
    font-family: var(--font);
    font-size: 14px;
    background-color: pink;
    color: black;
    display: block;
}

.navbar{
    background-color: white;
    position: relative;
    width: 100%;
    max-height: 4em;
    color: black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin-left: 2em;
    font-weight: 800;
    font-size: 16px;
}

.mode {
    margin-right: 2em;
    font-weight: 600;
    font-size: 16px;
} 

.container {
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-display{
    max-width: 1000px;
    height: 100%;
    display: block;
}

.card-flag img {
    width: 100px;
    height: 100px;
}